<main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    {{!-- <span></span> Pages --}}
                    <span></span> Register
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Create an Account</h3>
                                        </div>
                                        <form method="post" action="/signup">

                                                          <div class="form-floating mb-3 input-control">
                <input type="text" class="form-control" onchange="validateusername()" id="name" name="name" placeholder="name" required autofocus>
                <label for="floatingInputUsername">Username</label>
              </div>
                            <div class="form-floating mb-3 input-control">
                  <input type="email" class="form-control" onchange="validate_email()" id="email" placeholder="name@example.com" name="email" >
                  <label for="email">Email</label>
                  <div class="error"></div>
                </div>

                               <div class="form-floating mb-3 input-control">
                  <input type="tel" class="form-control" onchange="validatePhoneNumber()" id="phone" placeholder="Phone" name="phone" >
                  <label for="phone">Phone</label>
                  <div  class="error"></div>
                </div>
                              <div class="form-floating mb-3 input-control">
                  <input type="password" class="form-control" onchange="validatePassword()" id="password" placeholder="Password"  id="password" name="password">
                  <label for="Password">Password</label>
                  <div  class="error"></div>
                </div>
                <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="showPassword" id="showPasswordCheckbox" onchange="togglePasswordVisibility()">
                                                    <label class="form-check-label" for="showPasswordCheckbox"><span>Show Password</span></label>
                                                </div>
                                            </div>

                                        </div>

              <div class="form-floating mb-3 input-control">
                  <input type="password" class="form-control" onchange="validateConfirmPassword()" id="confirmPassword" placeholder="Password" name="confirmPassword" >
                  <label for="confirmPassword">Confirm password</label>
                  <div  class="error"></div>
                </div>
                <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="showPassword2" id="showPasswordCheckbox2" onchange="togglePasswordVisibility2()">
                                                    <label class="form-check-label" for="showPasswordCheckbox2"><span>Show Password</span></label>
                                                </div>
                                            </div>

                                        </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit &amp; Register</button>
                                            </div>
                                        </form>
                                        <div class="divider-text-center mt-15 mb-15">
                                            <span> or</span>
                                        </div>
                                        <ul class="btn-login list_none text-center mb-15">
                                            <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                            <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                        </ul>
                                        <div class="text-muted text-center">Already have an account? <a href="/login">Sign in now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>





    <script>
  /**
	 * Register form validation 
	 */
	 
		/**
		* uname id validation 
		*/
		
		function validateusername() {
	         var username = document.getElementById('name').value;

	         var userPattern = /^[a-zA-Z0-9]{3,}$/;

	         if (!userPattern.test(username)) {
	             alert("Invalid username please try again.");
	             
	             document.getElementById('name').value = '';
	             
	             document.getElementById('name').focus();
	             return false; 
	         }

	         return true;
	     }
		
		/**
 		* email id  validation 
 		*/
 		
 		function validate_email() {
 	         var email = document.getElementById('email').value;

 	         var emailPattern = /^\S+@\S+\.\S+$/;

 	         if (!emailPattern.test(email)) {
 	             alert("Invalid email please try again.");
 	             
 	             document.getElementById('email').value = '';
 	             
 	             document.getElementById('email').focus();
 	             return false; 
 	         }

 	         return true; 
 	     }
		/**
 		* password  validation 
 		*/
		
 		
 		 function validatePassword() {
            var password = document.getElementById('password').value;

            // Define a regular expression for a strong password (at least 8 characters)
            var passwordPattern = /^.{8,}$/;

            if (!passwordPattern.test(password)) {
                alert('Invalid password! Password should be at least 8 characters long.');
                document.getElementById('password').value = '';
                document.getElementById('password').focus();
                return false; 
            }

           
            return true; 
        }
		/**
		* confirm password  validation 
		*/
		
		
		 function validateConfirmPassword() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                alert('Passwords do not match! Please enter the same password in both fields.');
                
                document.getElementById('confirmPassword').value = '';
                document.getElementById("password").focus();
                return false; 
            }

           
            return true; 
        }		
		/**
		* phnumber id validation 
		*/
	
	 function validatePhoneNumber() {
         var phoneNumber = document.getElementById('phone').value;

         var phonePattern = /^\d{10}$/;

         if (!phonePattern.test(phoneNumber)) {
             alert('Invalid phone number! Please enter a 10-digit number.');
             
             // Clear the input field
             document.getElementById('phone').value = '';
             
             // Focus on the input field for correction
             document.getElementById('phone').focus();
             return false; 
         }

         return true; // Allow form submission
     }


     
function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    var checkbox = document.getElementById('showPasswordCheckbox');

    if (checkbox.checked) {
        passwordInput.type = "text";
    } else {
        passwordInput.type = "password";
    }
}

function togglePasswordVisibility2() {
    var confirmPasswordInput = document.getElementById('confirmPassword');
    var checkbox = document.getElementById('showPasswordCheckbox2');

    if (checkbox.checked) {
        confirmPasswordInput.type = "text";
    } else {
        confirmPasswordInput.type = "password";
    }
}

</script>